*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font: normal 16px/1.5 "Helvetica Neue", sans-serif;
	background: #b3cde0;
	color: #fff;
	overflow-x: hidden;
	padding-bottom: 50px;
}

.intro {
  background: #333333;
  padding: 50px 0;
  height: 360px;
}

.container {
  width: 90%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 5%;
  top: -200px;
}

h1 {
  font-size: 16px;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #333333;
}

.timeline ul li::after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}

.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #333333;
}

.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #333333 transparent transparent;
}

.timeline ul li:nth-child(even) div {
	left: -439px;
}

.timeline ul li:nth-child(even) div::before{
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #333333;
}

.timeline ul li time {
	font-weight: bold;
	font-size:2em;
}

.headshot {
	border-radius: 50%;
	position: relative;
	left: 3%;
	top: 6.3%;
	width: 200px;
	height: 200px;
}

.ResumeHolder{
	diaplay: inline-block;
	background: #000;
}

.ResumeImage {
  display: block;
  width: 100%;
  position: relative;
	left: 25%;
	top: -145px;
	width: 100px;
	height: 100px;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	opacity: 1;
	cursor: pointer;
}

.ResumeImage:hover {
	opacity: 0.2;
}

.LinkedinHolder{
	diaplay: inline-block;
	background: #000;
}

.LinkedinImage {
  display: block;
  width: 100%;
  position: relative;
	left: 35%;
	top: -247px;
	width: 100px;
	height: 100px;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	opacity: 1;
	cursor: pointer;
}

.LinkedinImage:hover {
	opacity: 0.2;
}

.GithubHolder{
	diaplay: inline-block;
	background: #000;
}

.GithubImage {
  display: block;
  width: 101%;
  position: relative;
	left: 55%;
	top: -350px;
	width: 105px;
	height: 105px;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	opacity: 1;
	cursor: pointer;
	border-radius: 50%;
	border:0;
}

.GithubImage:hover {
	opacity: 0.2;
}



.EmailHolder{
	diaplay: inline-block;
	background: #000;
}

.EmailImage {
  display: block;
  width: 100%;
  position: relative;
	left: 45%;
	top: -449px;
	width: 100px;
	height: 100px;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	opacity: 1;
	cursor: pointer;
}

.EmailImage:hover {
	opacity: 0.2;
}

.Lion_Art{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
	width: 300px;
	height: 300px;
	position: relative;
	left: 35px;
}

.Hockey_Champs{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
	width: 200px;
	height: 300px;
	position: relative;
	left: 85px;
}

a {
	color: white;
}
@media screen and (max-width: 1200px) {
	.headshot {
		width: 160px;
		height: 160px;
	}
	.container {
		width: 90%;
		max-width: 850px;
	}	
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
  .intro img {
	  width: 180 px;
	  height: 180 px;
  }
  .headshot {
		width: 150px;
		height: 150px;

	}
  	.ResumeImage {
	width: 40px;
	height: 40px;
	top: -78px;
	}
	.LinkedinImage {
	width: 40px;
	height: 40px;
	top: -118px
	}
	.GithubImage {
	width: 42px;
	height: 42px;
	top: -159px;
	}
	.EmailImage {
	width: 40px;
	height: 40px;
	top: -200px;
	}
	h1{
		font-size: 10px;
	}
	.container{
		max-width: 250px;
		top: -150px;
		left: 15%;
	}
}

@media screen and (max-width: 400px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
   .headshot {
	  width: 100px;
	  height: 100px;
  }
	h1 {
	  font-size: 8px;
  }
  	.ResumeImage {
	width: 40px;
	height: 40px;
	top: -28px;
	}
	.LinkedinImage {
	width: 40px;
	height: 40px;
	top: -68px
	}
	.GithubImage {
	width: 42px;
	height: 42px;
	top: -109px;
	}
	.EmailImage {
	width: 40px;
	height: 40px;
	top: -150px;
	}
	.container{
	max-width:150px;
	top: -100px;
	left: 10%;
	}
}
